// Fonts
$fira: "Fira Code Medium", monospace;
$roboto: "Roboto", sans-serif;
$overpass: "Overpass", sans-serif;

// Screens
$tablet-screen: 1200px;
$mobile-screen: 700px;

// Theme colors
$background: var(--bg);
$text: var(--text);
$border: var(--border);
$sub-text: var(--sub-text);
